<br>
<br>
<br>


<p>What Would You Like to Do?</p>
	<ul> 
		<li><a href='/users'>See People's Albums</a></li>
		<li><a href='/upload'> Upload a Photo<a></li>
    <li><a href='/photos'> See All Photos <a></li>
	</ul>
