<form method='post' action='/login'>
  Login
    <input type="text" name="user[name]" placeholder="username">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" name="login">
</form>

<a href="/signup">Create New Account</a>
