<form method='post' action='/signup'>
  Sign Up
  <input type="text" name="user[name]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="E-mail">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" name="create">
</form>

