<div class = "question_form">

  <form method = "post" action = '/upload' enctype="multipart/form-data">
 
  <h3>Title: <input type = "text" name = "photo_name" placeholder = "Photo Name"></h3>
  <input type="file" name="image"><br><br>
  
    <div class = 'album'>
      <label for="question">Album Name for Photo: </label><input type = "text" name = "album" placeholder = "Album">
 
  <input type = "submit" value = "Submit">
 </form>

</div>

